:root
{

}

body
{
    background: #ffffff;
    background: linear-gradient(to right, #f1f1f1, #f3f3f3);
}

.frost
{
    background-color: #fafffe;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(27, 27, 27, 0.1);
    border: 1px solid rgba(238, 238, 238, 0.3);
}